<div class="album">
    <img class="child-element zoom" src="/media/projects/{{path1}}"/>
    <img class="child-element zoom" src="/media/projects/{{path2}}"/>
    <img class="child-element zoom" src="/media/projects/{{path3}}"/>
    <img class="child-element zoom" src="/media/projects/{{path4}}"/>
    <img class="child-element zoom" src="/media/projects/{{path5}}"/>
    <img class="child-element zoom" src="/media/projects/{{path6}}"/>
    <img class="child-element zoom" src="/media/projects/{{path7}}"/>
</div>
